body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

nav {
    margin-left: 50px;
    margin-top: 50px;
    float: left;
    width: 15%;
    line-height: 30px;
    position: fixed;
}

/**
nav a{} would have targeted the <a>'s in our navigation
*/

#wrapper {
    margin-top: 50px;
    float: right;
    width: 60%;
    margin-right: 50px;
}

header h1 {
    text-align: right;
    font-size: 50px;
    margin-bottom: 5px;
}

header h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 20px;
    color: darkgray;
}

header h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    color: darkgray;

}

header img {
    width: 100%;
}

footer {
    margin-top: 20px;
    min-height: 30px;
    font-size: 10px;
    font-weight: lighter;
    text-align: right;
    font-style: italic;
}